<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="back()" mode="ios" slot="start" >
            <ion-icon slot="start" name="arrow-back"></ion-icon>

         </ion-button>
        </ion-buttons>
        <ion-title mode="md">Orders</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <div class="img" *ngIf="orders?.length == 0 && pastOrders?.length == 0 && token != null">
        <img src="../../../assets/no-data.png">
    </div>
    <div class="img" *ngIf="orders?.length == 0 && pastOrders?.length == 0 && token == null">
        <img src="../../../assets/ordersno.png">
    </div>


    <div *ngIf="orders?.length != 0" class="current-orders">
        <h1>Current Orders</h1>
        <div class="order-details" *ngFor="let item of orders">
            <div class="main" *ngIf="item.id" (click)="check(item)">
                <h3 class="order-headimg">Order ID : {{item?.id}} <span class="ion-float-right">{{item?.created_at | date:'short':'GMT'}}</span></h3>
                <p class="items"><span class="span1">{{item?.product.name}},</span> <span class="ion-float-right">Items</span></p>
                <p class="quantity"> <span class="ion-float-right">{{item?.quantity}}</span></p>
            </div>
            <div class="bottom">
                <ion-item class="ion-no-padding" lines="none">
                    <!-- <h2 class="h2" (click)="check(item.id)">See Billing Details</h2> -->
                    <ion-button slot="end"  *ngIf="item.status === 'initiated'" class="ion-no-padding" fill="clear" (click)="cancelOrder(item.id)">
                        <ion-ripple-effect></ion-ripple-effect>
                        Cancel Service </ion-button>
                </ion-item>
            </div>
        </div>
    </div>

</ion-content>
